*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-image: url("../imagens/programming-2115930.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* FORMATAÇÃO DO MENU E SEUS COMPONENTES*/
.header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
}

.logo{
    width: 50%;
}

.menu{
    width: 49%;
}

.opcoes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.opcao{
    width: 110px;
    height: 30px;
    text-align: center;
    font-size: 11pt;
    line-height: 30px;
    margin: 5px 25px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgba(93, 35, 112, 0.8);
    cursor: pointer;
}

.opcao:hover{
    /* font-size: 12pt; */
    font-weight: bolder;
    box-shadow: 0 0 3px white;
}

/* FIM DA FORMATAÇÃO DO MENU E SEUS COMPONENTES */

/* FORMATAÇÃO DO CORPO E SEUS COMPONENTES*/

.corpo{
    width: 50%;
    /* max-height: 100vh; */
    margin: 0px auto;
    background-color: rgba(250, 250, 250, 0.9);
}

.op{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login{
    margin-top: 70px;
}

#cadastro{
    margin-top: 25px;
}

.op h3{
    margin: 10px;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.campo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 19px;
}

.campo input{
    width: 250px;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    box-shadow: 0px 0px 3px rgba(93, 35, 112, 0.8);
}

.botao{
    width: 120px;
    height: 35px;
    margin: 15px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(93, 35, 112, 0.7);
    color: white;
    cursor: pointer;
}

.botao:hover{
    font-weight: bolder;
    border: 1px solid rgba(93, 35, 112, 0.8);
}

.botao a{
    text-decoration: none;
    color: white;
}



/* FIM DA FORMATAÇÃO DO CORPO E SEUS COMPONENTES*/


