*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu{
    position: fixed;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    background-color: rgba(118,	54, 193, 0.9);
}

.logo{
    width: 40%;
    height: 70px;
    background-image: url("../imagens/logofd-certa.png");
    background-size: contain;
    margin: 25px 10px auto;
}

.opcoesPrincipais, .opcoesSecundarias{
    width: 65%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opcoesSecundarias{
    margin-top: 40px;
}

.opcoesPrincipais .fas, .opcoesSecundarias .fas{
    margin: 15px auto;
    font-size: 25pt;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.fas:hover{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.img-usuario{
    width: 50%;
    height: 65px;
    margin: 10px auto;
    border-radius: 100%;
    cursor: pointer;
    background-image: url(../imagens/img-usuario-teste.jpeg);
    background-size: contain;
}

.corpo{
    /* position: relative; */
    width: 85%;
    min-height: 100vh;
    margin: 0 0 0 190px;
    border-radius: 15px 30px 30px 15px;
    border: 1px solid rgba(118,	54, 193, 0.7);
}

.corpo h2, #descricao{
    margin-top: 20px; 
    margin-left: 15px;
}

#noproject{
    width: 90%;
    height: 500px;
    display: none;
    text-align: center;
    margin: 25px auto;
    border: 1px solid rgba(118,	54, 193, 0.7);
}

#ola{
    margin-top: 80px;
    font-size: 22px;
}

.novocadastro{
    position: fixed;
    width: 500px;
    top: 200px;
    right: 300px;
    padding: 5px;
    text-align: center;
    background-color: white;
    z-index: 1;
    border: 3px solid rgba(118,	54, 193, 0.7);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    border-radius: 15px 30px 30px 15px;
}

.novocadastro h3{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
}

.gerarrelatorio h3{
    width: 85%;
}

.novocadastro .campo{
    width: 100%;
    padding: 10px;
    clear: left;
}

.novocadastro button{
    margin: 8px;
    font-size: 12px;
}

.att-responsavel{
    position: fixed;
    width: 500px;
    top: 200px;
    right: 300px;
    padding: 5px;
    text-align: center;
    background-color: white;
    z-index: 1;
    border: 3px solid rgba(118,	54, 193, 0.7);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    border-radius: 15px 30px 30px 15px;
}

.title-resp{
    float: left;
    width: 85%;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
}


.botao{
    width: 120px;
    height: 30px;
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(93, 35, 112, 0.7);
    color: white;
    cursor: pointer;
}

.botao:hover{
    font-weight: bolder;
    border: 1px solid rgba(93, 35, 112, 0.8);
}

.botao a{
    text-decoration: none;
    color: white;
}

.botao-projeto{
    width: 70px;
    height: 45px;
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(93, 35, 112, 0.7);
    color: white;
    cursor: pointer;
}
.botao-relatorio{
    width: 230px;
}

.exit{
    float: left;
    width: 11%;
    color: rgba(118, 54, 193, 0.7);
    font-size: 25px;
    cursor: pointer;
}

.exit .fas:hover{
    text-shadow: none;
}

.exit:hover{
    font-size: 30px;
}


.colunas, .opt-resp{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.opt-resp{
    cursor: pointer;
}

.opt-resp:hover{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.col-nome, .col-papel, .nome-resp, .papel-resp{
    width: 50%;
    padding: 5px;
}

#yourprojects{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    border: 1px solid black;
}

#yourprojects h3, h4{
    width: 100%;
    height: 20px;
    /* margin-top: 10px;  */
    /* margin-bottom: 10px; */
}

.funcionalidades-projeto{
    width: 240px;
    margin-top: -23px;
    margin-left: 500px; 
}

.funcionalidades-projeto .fas{
    margin: 7px;
    cursor: pointer;
}

#descricao{
    width: 62%;
    height: 120px;
    padding: 5px;
    border: 1px dashed black;
}

.equipe{
    width: 63%;
    margin-top: 20px;
    margin-left: 15px;
    border: 1px dashed black;
}

.nome-projeto, .nome-equipe{
    font-weight: bolder;
    font-size: 14pt;
    margin-top: 12px;
    margin-left: 15px;
}

.membros{
    width: 50%;
    margin-top: 15px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.membro{
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(118, 54, 193, 0.7)
}

.img-membro{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-image: url(../imagens/img-usuario-teste.jpeg);
    background-size: contain;
    cursor: pointer;
    border: 1px solid black;
}

.funcionalidades-equipe{
    width: 240px;
    margin-top: -23px;
    margin-left: 490px; 
}

.funcionalidades-equipe .fas{
    margin: 7px;
    cursor: pointer;
}

.funcionalidades-membro{
    font-size: 15pt;
    cursor: pointer;
}